h1 {color: green;
  text decoration: line-through;
  font size: 500px;
}
.large-text {
  font-size: 70px;
  font-style: italic;
}
#slogan-text {
  color: red;
  font-size: 90px;
  font-style: bold;
}
