.main-heading {color: darkgreen;
  font-size: 73px;
  font-weight: bold;
  align: center;
}

.side-heading {
  font-size: 33px;
  font-style:italic;
  font-weight: 300;
  color: green
}

.img-style {
  width: 600px;
  height:400px;
  display: block;
  margin: 0 auto;
}
.description {
  font-size:18px;

}
.steps {
  font-size: 33px;
  font-style:italic;
  font-weight: 300;
  color: green
}
.nutrition {
  font-size: 33px;
  font-style:italic;
  font-weight: 300;
  color: green
}
.rice {
  width: 200px;
  height:250px;
}
.potatoe {
  width: 64px;
  height:64px;
}
.table{
margin:0 auto;
}
.details {
  font-size: 33px;
  font-style:italic;
  font-weight: 300;
  color: green
}
.directions {
    font-size:18px;
}
