.container{
  width: 800px;
  background-color: lightgray;
  margin: 0 auto;
  height:100vh;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.nav{
  flex: 0 0 50px;
  background-color: skyblue;

}
.content{
}
.main{
  flex: 0 0 50px;
  background-color: purple;
}
.side{
  flex: 0 0 50px;
  background-color: purple;
}
.foot{
  flex: 0 0 50px;
  background-color: skyblue;
}
