.side-container{
display:flex;
flex-direction: column;
margin: 0 auto;
justify-content: space-around;
font-size: 20px;
}
.img-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-self: center;
}
h1{
text-align: center;
}
.harshi-img{
  height: 350px;
  width:350px;

}

img{
  height: 150px;
  width:150px;
}
