h1{
text-align: center;
}

ul{
  list-style: none;
}

.skills-img{
  height: 450px;
  width: 350px;
}
img{
  height: 150px;
  width:200px;

}

side-img{
  height: 250px;
  width: 150px;
}

.side-container{
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content: space-between;
font-size: 20px;
}

.img-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-self: center;
}
